<template>
    <div class="App">
      <ag-grid-vue style="width: 800px; height: 300px;" class="ag-theme-balham setting--grid" :columnDefs="columnDefs" :rowData="rowData" :modules="modules">
        
      </ag-grid-vue>

    <flat-pickr 
      v-model="date" 
      :key="lang"  
      placeholder="Укажите дату..." 
      :config="config"
    ></flat-pickr>
  </div>
</template>

<script>
  import { AgGridVue } from '@ag-grid-community/vue';
  import {AllCommunityModules} from '@ag-grid-community/all-modules';
  import flatPickr from 'vue-flatpickr-component';
  import { Russian } from "flatpickr/dist/l10n/ru.js";
  

  export default {
      name: 'App',
      data() {
          return {
              date: null,
              columnDefs: null,
              rowData: null,
              params: null,
              modules: AllCommunityModules,
              config: {
                dateFormat: 'd-m-Y',
                locale: Russian, // locale for this instance only          
              },
          }
      },

      components: {
          AgGridVue,
          flatPickr
      },
      beforeMount() {
          this.columnDefs = [
              {headerName: 'Make', field: 'make'},
              {headerName: 'Model', field: 'model'},
              {headerName: 'Price', field: 'price'},
              {headerName: 'Data', field: 'data'}
          ];

          this.rowData = [
              {make: 'Toyota', model: 'Celica', price: 35000, data: '02/03/2015'},
              {make: 'Ford', model: 'Mondeo', price: 32000, data: '12/12/2019'},
              {make: 'Porsche', model: 'Boxter', price: 72000, data: '16/09/2016'}
          ];
      }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .ag-header-cell-label{
    display: block;
    text-align: center;
  }

  .setting--grid{
    top: 15vh;
    margin: auto;
    position: relative;
    text-align: center;
  }
</style>
