<template>
  <div id="app">
    <AgGrid/>
  </div>
</template>

<script>
import AgGrid from './components/AgGrid.vue';
import 'flatpickr/dist/flatpickr.css';

export default {
  name: 'app',
  components: {
    AgGrid
  }
}
</script>

<style lang="scss">
    @import "../node_modules/@ag-grid-community/all-modules/dist/styles/ag-grid.css";
    @import "../node_modules/@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";
</style>
